# ===================================== #
# Python generated 			#
# ===================================== #
__pycache__/
test.py

# ===================================== #
# PyCharm generated 			#
# ===================================== #
.idea/

# ===================================== #
# Jupyter Notebook generated 		#
# ===================================== #
.ipynb_checkpoints/