# ===================================== #
# Python generated 			#
# ===================================== #
__pycache__/

# ===================================== #
# PyCharm generated 			#
# ===================================== #
.idea/