# ===================================== #
# Python generated 			#
# ===================================== #
__pycache__/
test.py

# ===================================== #
# PyCharm generated 			#
# ===================================== #
.idea/